<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/svg+xml" href="/images/logo.svg" />
    <link rel="stylesheet" href="css/app.css" />
    <title>CASA - Client And Server Architecture</title>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script>
        window.casaTheme = {
            setTheme: function (themeName) {
                document.documentElement.setAttribute("data-theme", themeName);
                document.body.setAttribute("data-theme", themeName);
            }
        };
    </script>
    <script src="_framework/blazor.server.js"></script>
</body>

</html>
